.container {
  margin-bottom: 0.2em;
  cursor: pointer;
}

.list {
  width: 100%;
}

.grid {
  width: 50%;
}

.video {
  display: flex;
  align-items: center;
  border: 1px solid lightgray;
}

.metadata {
  margin-left: 2em;
}

.title,
.channel {
  margin: 0;
}

.img {
  width: 40%;
  height: 100%;
}

.channel {
  font-size: 0.9em;
}
